/* App.css */
.my-button {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: darkpurple;
  }
  